<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top pb-0 pt-2" style="width: 100vw; ">
    <button class="navbar-toggler mr-auto ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center py-1 ms-1" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link ms-2" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-2" href="/music">TATTOOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-2" href="/shows">BOOKING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-2" href="https://onlyechoes.bandcamp.com/merch">PAINTINGS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-2" href="https://bandcamp.com/contact?b=1163195635&n=Only%20Echoes">DESIGNS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-2" href="https://onlyechoes.bandcamp.com/merch">AFTERCARE</a>
            </li>

            <div class="navbar-nav  d-flex justify-content-lg-center ms-1 link-icons">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/onlyechoesdenver/"><i
                            class="link-icon fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/only_echoes_denver/"><i
                            class="link-icon fab fa-instagram"></i></a>
                </li>


            </div>
        </ul>



    </div>

</nav>