<nav class="navbar navbar-expand-md navbar-light sticky-top pb-0 pt-2" style="width: 100vw;" id="navbar">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler bg-white mr-auto mx-lg-4 px-2 m-1" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center py-1" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mx-lg-4 px-2" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-4 px-2" href="/tattoos">TATTOOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-4 px-2" href="/designs">DESIGNS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-4 px-2" href="/paintings">PAINTINGS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link mx-lg-4 px-2" href="/booking">BOOKING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-4 px-2" href="/aftercare">AFTERCARE</a>
            </li>

            <div class="navbar-nav  d-flex justify-content-lg-center justify-content-end ms-1 link-icons">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/dylan.r.bellerose"><i
                            class="link-icon fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/bellerosedtattoo"><i
                            class="link-icon fab fa-instagram"></i></a>
                </li>


            </div>
            <li class="d-flex justify-content-end close-nav button">
                <i class="fa-solid fa-chevron-up" style="margin-right: 30vw; cursor:pointer"></i>
            </li>
        </ul>



    </div>

</nav>