<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/about.css">
    <div class="background-pic d-flex flex-column align-items-start justify-content-evenly">
        <div class="image-overlay"></div>

        <!-- <h1 class="banner-text">ABOUT</h1> -->

    </div>
    <div class="container d-flex flex-wrap bio">
        <div class="container d-flex justify-content-center">
            <p>No Gods. No Vocals.</p>
        </div>

        <p> Only Echoes is a 5-piece instrumental post-metal band from Denver, Colorado.
            Shortly after forming in 2018, they released their self-titled EP and set a tonal precedent: monumental
            riffs interlaced with ethereal atmosphere. While preparing their first full length in early 2020, The
            Great
            Pause allowed for further refinement of the band’s sound, alternating between beautiful clean passages
            and
            crushing waves of sound.</p>
        <p> Finally released in April 2022, Sunsickness builds on the sonic foundation first explored in the EP,
            intricately layering guitars, clean ambience, and melodic solos without ever straying too far from their
            uncompromising heaviness.</p>

        <p>Featuring a new rhythm section, the band brought their brand of doom-infused post-metal to the West Coast
            in
            the fall of 2022, and will embark on another tour in Spring 2023.</p>
        <p> Between tours Only Echoes writes for a second full-length LP, continuing their exploration of vast yet
            accessible instrumental post-metal.</p>




    </div>





    </div>