<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/aftercare.css">
    <div class="background-pic-3 d-flex flex-column align-items-center justify-content-evenly">
        <div class="image-overlay">

        </div>
        <img src="/images/emblemwhite.png" alt="" class="heading-emblem">
        <h1 class="d-flex justify-content-center page-heading"><span>Aftercare</span></h1>
        <div class="d-flex justify-content-center w-100">
            <div class="my-md-5 mx-md-5 cube2">
                <div class="d-flex container justify-content-center vw-100 p-5 flex-column text-content text-center">
                    <span class=" fs-6 text text-center mb-4">YAY! You just got a new tattoo! Now that you have this
                        beautiful new artwork, it’s essential to ensure it heals
                        properly and continues to look fantastic! Here you’ll
                        discover everything you need to know about caring for your
                        new tattoo. It’s important to remember that while tattoos are
                        permanent, their vibrant appearance over time is greatly
                        influenced by how well you care for them, during the healing
                        phase and throughout your lifetime.</span>
                    <span class="fw-bold">Pro Tip #1):</span>
                    <span>Prioritize Cleanliness: ALWAYS wash your hands
                        thoroughly before touching a fresh tattoo! This practice
                        should be maintained throughout the entire healing process,
                        which typically lasts up to a month.</span>
                    <span class="fw-bold">Pro Tip #2):</span>
                    <span>Shield Your Artwork: Once your tattoo has fully healed,
                        be mindful of its sworn enemy: THE SUN. That doesn’t
                        mean you should hide away! To combat this foe, I
                        recommend applying sunscreen to any exposed parts of your
                        tattoo when going outside. This is especially the case for
                        color tattoos as sun damage is the leading cause of fading
                        over time.</span>
                    <span class="fw-bold">Second Skin:</span>
                    <span>When using second skin, the aftercare process is
                        straightforward. Keep the bandage on for up to 5 days,
                        minimizing physical activity to prevent sweat buildup. When
                        it’s time to remove the bandage, do so in the shower,
                        allowing hot water to run over the outside of the bandage for
                        a couple minutes to loosen its adhesion to your skin, making
                        removal easier and helping to prevent the spread of
                        contaminates. Once the bandage has loosened, gently peel
                        off the second skin by grasping it at the top and pulling up,
                        working your way down as the bandage peels, similar to
                        removing a “3M Command Strip” from a wall. Some mild
                        discomfort is normal during this process and there may still
                        be some fluids still under the bandage, although not always.</span>
                    <span>After removing the bandage, follow the instructions outlined
                        in the Traditional Aftercare section. It’s important to note
                        you’ll only need to clean the tattoo once but you should
                        apply lotion twice a day for up to three weeks, or until the
                        tattoo has fully peeled.</span>
                    <span class="fw-bold">DISCLAIMER:</span>
                    <span>If the second skin is leaking profusely, rips,
                        tears, or if the tattoo becomes exposed to the air before the 5
                        day mark, it is essential to promptly remove the second skin.
                        If this occurs there is no cause for concern; simply proceed
                        with the traditional aftercare procedure outlined below for
                        the remaining duration you initially intended to keep the
                        second skin on. For instance, if the bandage comes off after 2
                        days, follow the traditional aftercare cleaning procedure for 3
                        days.</span>
                    <span class="fw-bold">Traditional Aftercare:</span>
                    <span>Follow this procedure twice a day for 5 days after your
                        session.</span>
                    <span>Use an anti-bacterial, fragrance-free soap (I recommend
                        Gold Dial Brand) and lather it between your hands to create
                        bubbles. Take the bubbles and gently rub them over your
                        tattoo, ensuring that any remaining residue is removed. DO
                        NOT use a sponge or shower scrub to clean your tattoo, as
                        these will traumatize the skin and cause ink to “fall out”.
                        After thoroughly cleaning the tattoo, rinse it with warm
                        water.</span>
                    <span>After cleaning, allow the tattoo to air dry or use a one-time
                        use paper towel to gently pat it dry. DO NOT use a bath
                        towel or reusable towel as these may harbor bacteria in their
                        fibers.</span>
                    <span>Once the tattoo has completely dried, apply a thin layer of
                        unscented, water-based lotion. Ensure that the tattoo is fully
                        covered but keep it light enough that the lotion absorbs into
                        your skin. Avoid using petroleum-based creams like
                        Aquaphor, as they can create a greasy layer that suffocates
                        the tattoo.</span>
                    <span>After 5 days, there’s no need to continue cleaning your
                        tattoo, but you should apply lotion at least twice a day for
                        about three weeks, or until the tattoo has fully peeled.</span>
                    <span>If you have any further questions about the healing process
                        of your new tattoo feel free to reach out via direct message
                        on Instagram or email. For emergencies, seek advise from a
                        medical professional.</span>


                </div>



            </div>
        </div>




    </div>


    // a