<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/booking.css">

    <body>
        <div class="background-pic-3">
            <div class="image-overlay-2">


            </div>
            <div class="container pt-5-md" style="z-index: 110;">
                <script type="text/javascript" src="https://form.jotform.com/jsform/240032045462039"></script>
            </div>


        </div>


    </body>