<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/designs.css">
    <div class="background-pic-3 d-flex flex-column align-items-center justify-content-evenly">
        <div class="image-overlay">

        </div>
        <img src="/images/emblemwhite.png" alt="" class="heading-emblem">
        <h1 class="d-flex justify-content-center page-heading"><span>Designs</span></h1>

        <div class="d-flex justify-content-center w-100">
            <div class="my-md-5 mx-md-5 cube2">
                <div class="d-flex container justify-content-center vw-100 pt-5 px-2">
                    <span
                        class="text-content text-center d-flex flex-column align-items-center justify-content-center w-75">Discover
                        a selection of unique pre-drawn designs available
                        to be tattooed. Each design is one-of-a-kind and once
                        claimed, will be exclusively yours! To claim a design, simply
                        use the Booking form and specify your desired piece in the
                        description.
                        Please note that the website may not reflect the most current
                        availability, as some designs may have already been claimed.
                        For the latest selection, we recommend visiting the artist’s
                        instagram. @bellerosedtattoo</span>
                </div>
                <div class="d-flex container justify-content-center vw-100 p-5 ">
                    <iframe class="gallery" src='https://a3ab065c644f44e8bfdfccb86e088c44.elf.site' width='200%'
                        height='1000' frameborder='0'></iframe>


                </div>



            </div>
        </div>




    </div>