<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/error.css">


    <div class="background-pic-3 d-flex flex-column align-items-center justify-content-evenly">
        <div class="image-overlay">

        </div>
        <img src="/images/emblemwhite.png" alt="" class="heading-emblem">
        <h1 class="d-flex justify-content-center page-heading"><span> ERROR:
                <%=err.message%>
            </span>
        </h1>
    </div>