<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/paintings.css">
    <div class="background-pic-3 d-flex flex-column align-items-center justify-content-evenly">
        <div class="image-overlay">

        </div>
        <img src="/images/emblemwhite.png" alt="" class="heading-emblem">
        <h1 class="d-flex justify-content-center page-heading"><span>Paintings</span></h1>
        <div class="d-flex justify-content-center w-100">
            <div class="my-md-5 mx-md-5 cube2">
                <div class="d-flex container justify-content-center vw-100 pt-5 px-2">
                    <span
                        class="text-content text-center d-flex flex-column align-items-center justify-content-center w-75">Explore
                        a selection of Bellerose’s fine art. Showcasing his
                        versatility he uses a combination of mediums like Acrylic
                        Ink, Colored Pencils, and Marker to create his work. Original
                        pieces are available for purchase and there are also high
                        grade 300 gsm prints of most work available as well. To
                        inquire about purchasing, please utilize the provided booking
                        form.</span>
                </div>
                <div class="d-flex container justify-content-center vw-100 p-5 ">
                    <iframe class="gallery" src='https://3adfbb4617bd4ad49d9ab69c29911534.elf.site' width='200%'
                        height='1000' frameborder='0'></iframe>


                </div>



            </div>
        </div>




    </div>