<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/shows.css">

    <div class="background-pic d-flex flex-column align-items-start justify-content-evenly">
        <div class="image-overlay"></div>
        <div class="banner">
            <h1 class="banner-text">SHOWS</h1>
        </div>

        <div class="container d-flex flex-wrap justify-content-center">
            <div class="card bg-dark m-3" style="width: 18rem;">
                <img class="img" src="/images/bowling.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <p class="card-text "><a href="https://www.instagram.com/p/ConKK7IOIim/"
                            class="text-decoration-none">
                            Insane on the Lanes March 19 2023</a>
                    </p>
                </div>
            </div>
            <div class="card bg-dark m-3" style="width: 18rem;">
                <img class="img" src="/images/kickoff.jfif" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <p class="card-text "><a href="https://www.instagram.com/p/CpDYGAMJ-AD/"
                            class="text-decoration-none">
                            Only Echoes Tour Kickoff March 31 2021</a>
                    </p>
                </div>
            </div>
            <div class="card bg-dark m-3" style="width: 18rem;">
                <img class="img" src="/images/tour.jfif" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <p class="card-text "><a href="https://www.instagram.com/p/CosQnqWrRHm/"
                            class="text-decoration-none">
                            Only Echoes Tour Dates Announcement</a>
                    </p>
                </div>
            </div>
            <!-- <img src="/images/tour.jfif" class="img" alt="..."> -->



        </div>
    </div>

    <script src="/scripts/fixedNav.js"></script>