<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/tattoos.css">
    <div class="background-pic-3 d-flex flex-column align-items-center justify-content-evenly">
        <div class="image-overlay">

        </div>
        <img src="/images/emblemwhite.png" alt="" class="heading-emblem">
        <h1 class="d-flex justify-content-center page-heading"><span>Tattoos</span></h1>

        <div class="d-flex justify-content-center w-100">
            <div class="my-md-5 mx-md-5 cube2">
                <div class="d-flex container justify-content-center vw-100 p-5 ">
                    <iframe class="gallery" src='https://86441960992e48e9a2d5fcd6ff202f5b.elf.site' width='200%'
                        height='1000' frameborder='0'></iframe>
                </div>
            </div>
        </div>




    </div>