:root {
   --bannersize: 30vh;
   --darkred: rgb(137 35 35);
   --brightred: rgb(211 0 0);
   --gold: rgb(218 195 81);
   --darkgold: rgb(180 165 55);
 }

@font-face {
   font-family: barnstormer;
   src: url(/fonts/Barnstormer.ttf);
}

@font-face {
   font-family: Universe;
   src: url(/fonts/Universe.ttf);
}
@font-face {
   font-family: Mothproof;
   src: url(/fonts/Mothproof.ttf);
}
@font-face {
   font-family: Empirecrown;
   src: url(/fonts/empirecrown.ttf);
}
@font-face {
   font-family: eskindar;
   src: url(/fonts/eskindarexpand.ttf);
}
@font-face {
   font-family: Eordeoghlakat;
   src: url(/fonts/Eordeoghlakat.ttf);
}

* {
   scroll-behavior: auto !important;
}

body {
   font-family: Arial, sans-serif;
   overflow-x: hidden;
   background-color: white;
}

h1 {
   text-align: center;
   font-family: 'Universe';
   font-size: 50px;
}

footer {
   background-color: rgb(255, 255, 255);
}
.row {
       --bs-gutter-x: 0!important;

}

.footer-link a{
   font-family: 'Eordeoghlakat';
   font-size: 1.75rem;
   color:var(--darkgold)!important;
   text-decoration: none;
}

/* Dynamic Navbar */
.navbar-toggler:focus {
   box-shadow: none;
}
@media (min-width:767px) {
   .close-nav {
      display: none!important;
   }
   
}

.nav-item {
   font-family: 'Eordeoghlakat';
   font-size: 1.75rem;
   text-align: end;
}
.nav-link {
   color:var(--darkgold)!important;
}
.navbar-nav>li>a {
   transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-nav>li>a:hover {
   transform: scale(1.1);
}

.navbar-nav>li>a:active {
   transform: scale(1.2);
}
@media (min-width:767px) {
   .current-page {
      transform: scale(1.2);
   }
}


@media (max-width: 767px) {

   .navbar-nav>li>a:hover,
   .navbar-nav>li>a:active {
      transform: scale(1);
   }
   .navbar {
      background-color: transparent!important;
      position: fixed;
      height: 12vh
   }
   #navbar {
      background: transparent!important;

   }
}

@media (max-width: 991px) {
   .link-icons {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
   }

   .link-icon {
      margin: 5px 5px;
   }
}



#navbar.animate {
   background-color: rgb(255 255 255 / 93%);
   transition: background-color 0.5s ease-in-out;
}
#navbar {
   background: url('/images/inksplotches.png') no-repeat;
   background-position: center 51%;
   background-size: cover;
   transition: background-color 0.5s ease-in-out;
}

@media (max-width: 767px) {
   #navbarNav{
      background: linear-gradient(to left, rgb(255 255 255), #ffffffeb, transparent, transparent);
   }
}

.sticky-top {
   top: -18px
}


/* Background images */
.image-overlay {
   z-index: -10;
   position: absolute;
   background: rgba(0, 0, 0, 0);
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
   transition: all 0.5s ease;
}
.image-overlay-2 {
   z-index: -10;
   position: absolute;
   background: rgba(0, 0, 0, 0);
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
   transition: all 0.5s ease;
}
.image-overlay-2.animate {
   background: rgb(174 174 174 / 25%)
}

.background-pic {
   position: relative;
   background: url('/images/tattoo.jpg') no-repeat fixed;
   background-position: center right;
   background-size: cover;
   background-attachment:scroll;
   min-height: var(--bannersize);
   filter: grayscale();
}

@media (max-width: 767px) {
.background-pic {
   display: none;

}

}
.background-pic-2 {
   position: relative;
   background: url('/images/tattoo-2.jpg') no-repeat fixed;
   background-position: center top;
   background-size: cover;
   background-attachment:scroll;
   min-height: var(--bannersize);
   animation: fadeInOut 13s cubic-bezier(0, 0, 0.1, 1.0) infinite;
   /* animation: image 5s ease-in-out infinite; */
}
.background-pic-3 {
   position: relative;
   background: url('/images/tattoo-page-2.jpg') no-repeat fixed;
   background-position: center top;
   background-size: cover;
   background-attachment:scroll;
   min-height: var(--bannersize);
   /* animation: image 5s ease-in-out infinite; */
}

 @keyframes fadeInOut {
   0%, 100% {
     opacity: 1;
   }
   50% {
     opacity: 0;
   }
}

/* Hero image */

.hero-container{
   display: flex;
   z-index: 100;
   min-width: 100%;
   min-height: var(--bannersize);
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 56px;
   flex-wrap: wrap;
}

.hero {
   transform: translateY(-42%);
   font-family: 'Universe';
   text-align: center;
   width: 8em;
   font-size: 11vw;
   color:var(--gold)!important;
}
.hero a, .hero a:hover, .hero a:visited, .hero a:active {
   color: inherit;
   text-decoration: none;
   cursor:pointer
  }

@media(max-width:767px) {
   .hero {
      transform: translateY(-8vh);
   }
   
}
.emblem {
   width: 46.5vw;
   position: fixed;
   left: 22vw;
   top: -18vw;
   bottom: -48vw;
   z-index: -20;
   opacity: 0.2;
}

@media (max-width: 767px) {
   .emblem {
      display: none;
      }

}

/* headings */

.page-heading {
   font-family: Eordeoghlakat;
   color: var(--darkgold);
   margin-bottom: 75px;
   z-index: 100;
}
.heading-emblem {
   width: 140px;
   margin: 32px;
   opacity: 0.7;
}
@media (min-width: 767px) {
   .page-heading {
      display: none!important;;
   }
   .heading-emblem {
      display: none;

   }
}

/* body content */

.text-content {
 width: 50%;
}
@media (max-width: 767px) {
   .text-content {
       width: 85%;
   }

}

.cube1 {
   z-index: 100;
   opacity: 0.9;
   background-color: white;
   font-size: 13px;
   line-height: 250%;
}
.cube1 p{
   margin: 10rem;
}
@media (min-width: 767px) {
   .cube1 {
     margin-top: 7vh;
   }
 }
  .cube2 {
   z-index: 100;
   background-color: white;
   font-size: 14px;
   line-height: 250%;
   
}
.cube2 p{
   margin: 10rem;
}
.gallery {
   z-index: 100;
   height: 82vh;
 }
 .gallery body {
   overflow: hidden;
 }
