:root {
   --bannersize: 90vh;
 }

 @media (max-width:767px) {
    :root {
        --bannersize: 100vh;
      }

 }
/* Home Page links */
h1 a {
    font-family: Universe;
    font-size: 6rem;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    color: rgb(251, 243, 174);
    transition: all 0.3s ease;
}

h1 a:hover {
    color: rgb(178, 0, 0);
}

@media (min-width: 767px) {
    #static-nav {
        display: none!important;
    }
    
}
#static-nav .nav-item {
font-size: 1.5rem;
}

/* Artist bio */

.artist-image {
    max-width: 29rem;
    border-radius: 2%;
}
@media (max-width: 767px) {
    .artist-image {
        width: 85%;
    }

     }
     
     
.oath {
   transform: translateY(10px);
   background-color: #000000;
   border-radius: 23%;
   margin-left: 3%;
   width: 111px;
}

.oathaddress {
    display: flex;
    flex-direction: column;
    min-width: 208px;
    font-size: 11pt;
    margin-top: 25px;
}
.background-pic {
    display: block!important;
}
.emblem {
    display: block!important;
}
.next-slide {
    position: relative;
    min-height: 6rem;

}

.carousel-control-next, .carousel-control-prev {
    color: black;
    min-width: 30%;
    font-family: Eordeoghlakat;
    font-size: 22px;
    max-height: 20px;
}
.carousel-control-prev {
    display: none;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover  {
    color: grey!important;
}
