:root {
   --bannersize: 90vh;
 }

 @media (max-width:768px) {
    :root {
        --bannersize: 100vh;
      }

 }
/* Home Page links */
h1 a {
    font-family: Universe;
    font-size: 6rem;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    color: rgb(251, 243, 174);
    transition: all 0.3s ease;
}

h1 a:hover {
    color: rgb(178, 0, 0);
}

  

/* Home page links */




.photo-text {
    color: white;
}

/* Unused for now, for eventual Biography */
.spacer {
    width: 100vw;
    height: 60vh;
}

@media(max-width: 1205px) {
    .spacer {
        height: 75vh;
    }
}

@media(max-width: 992px) {
    .spacer {
        height: 0vh;
    }
}

.home-icons li {
    list-style-type: none;
}

.home-icons>li>a {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home-icons>li>a:hover {
    transform: scale(1.1);
}

.home-icons>li>a:active {
    transform: scale(1.2);
}

/* Dylan */

.artist-image {
    max-width: 22rem;
}
@media (max-width: 768px) {
    .artist-image {
        width: 85%;
    }

     }
     
     
.oath {
   transform: translateY(10px);
   background-color: #000000;
   border-radius: 23%;
   margin-left: 3%;
   width: 111px;
}

.oathaddress {
    display: flex;
    flex-direction: column;
    min-width: 208px;
    font-size: 11pt;
    margin-top: 25px;
}
.background-pic {
    display: block!important;
}
.emblem {
    display: block!important;
}