/* Home Page links */
h1 a {
    font-family: Universe;
    font-size: 6rem;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    color: rgb(251, 243, 174);
    transition: all 0.3s ease;
}

h1 a:hover {
    color: rgb(178, 0, 0);
}

/* Overlay */
.background-pic {
    position: relative;
    background: url('/images/tattoo.jpg') no-repeat fixed;
    background-position: center top;
    background-size: cover;
    min-height: 82vh;
}
.background-pic-2 {
    position: relative;
    background: url('/images/tattoo-2.jpg') no-repeat fixed;
    background-position: center top;
    background-size: cover;
    min-height: 82vh;
    animation: fadeInOut 13s cubic-bezier(0, 0, 0.1, 1.0) infinite;
    /* animation: image 5s ease-in-out infinite; */
}

  @keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}
/* @keyframes image {
    100% {
      opacity: 0;
    }
  } */

.image-overlay-2.animate {
    background: rgb(174 174 174 / 25%)
}
  

/* Home page links */
.cube1 {
    opacity: 0.9;
    background-color: white;
    font-size: 14px;
    line-height: 250%;
}
.cube1 p{
    margin: 10rem;
}

.cube2 {
    height: 200px;
    border-radius: 6%;
    opacity: 0.9;
}

.cube3 {
    height: 200px;
    border-radius: 6%;
    opacity: 0.9;
}

.cube4 {
    height: 200px;
    border-radius: 6%;
    opacity: 0.9;
}


.photo-text {
    color: white;
}

/* Unused for now, for eventual Biography */
.spacer {
    width: 100vw;
    height: 60vh;
}

@media(max-width: 1205px) {
    .spacer {
        height: 75vh;
    }
}

@media(max-width: 992px) {
    .spacer {
        height: 0vh;
    }
}

.home-icons li {
    list-style-type: none;
}

.home-icons>li>a {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home-icons>li>a:hover {
    transform: scale(1.1);
}

.home-icons>li>a:active {
    transform: scale(1.2);
}

/* Dylan */

.artist-image {
    max-width: 22rem;
}
@media (max-width: 768px) {
    .artist-image {
        width: 85%;
    }

     }